Post Details:
<div class="data-table">

	<table>
		<thead>
			<tr>
				<th>Post Id</th>
				<th> Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Body</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of postDetailsResponse">
				<td>
					<span *ngIf="!editable">{{item.postId}}</span>
          <input *ngIf="editable" type="number" [(ngModel)]="item.postIds" placeholder="enter post id">
  `           </td>
				<td> 
             <span *ngIf="!editable">{{item.id}}</span>
           <input *ngIf="editable" type="number" [(ngModel)]="item.postId" placeholder="enter  id"> </td>
				<td> 
             <span *ngIf="!editable">{{item.name}}</span>
           <input *ngIf="editable" type="text" [(ngModel)]="item.postName" placeholder="enter post name">
        </td>
				<td> {{item.email}} </td>
				<td> {{item.body}} </td>
				<td>

				<button  *ngIf="!editable"  (click)="updatePost(item);">Update</button>
        <button *ngIf="editable" (click)="save(item);">save</button>
        <button (click)="createPost(item);">Create</button>
        <button   *ngIf="editable"  (click)="cancelPost(item);">Cancel</button>
        </td>
    </tr>
  </tbody>
</table>
</div>